/*
estrutura básica do css
em que:
p= seletor
{
    color:blue; = bloco de declaração.
}
color:blue;= declaração em si.
color= propriedade a ser declarada.
blue= valor.

tbm pode ser escrito inline como:
<p style=color:blue; > oie </p>

attribute selector: seleciona qq elemento html que já tenha atributos.
    ex:
        [p]{
            color:red;
        }
eles selecionam também types, classes e id's. é so colocar [attribute]{}.

pode ser mais detalhado usando:
type[attribute*='value']
ex:

<img src='/images/seasons/cold/winter.jpg'>
<img src='/images/seasons/warm/summer.jpg'>

img[src*='winter'] {
  height: 50px;
}
 
img[src*='summer'] {
  height: 100px;
}

selecinar mais especificamente:
por ex se algum bagulho tem class='paulo' e e um p vs escreve assim
p.paulo{
    color:darkblue;
}

mesmo que tenha outro p esse e mais especifico emtao todo p class='paulo'
vai ganha

selecionar nested bagui
<ul class='fodase'>
    <li>coisa</li>
</ul>

só escreverf assim:
.fodase li {
    alguma:coisa;
}

selecionar multiplos:
bota virgula
p,
.paulo {
    font-family: Georgia
}


*/
body {
    background-color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
}

#banner {
    background-image: url('file:///C:/Users/PICHAU/Downloads/iso-republic-abstract-liquid-swirl-19-free-stock-photo.jpg');
    background-size: cover;
    height: 400px;
    padding-top: 40px;
}

#banner h1 {
    padding-top: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
    text-transform: bold;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 15px;
    color: white;
    background-color:rgba(255, 255, 255, 0.418);
    top: 50px;
    width: 1000px;
    margin: 0 auto;
}

#subtitle {
    font-family: 'Open sans', sans-serif;
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
    width: 500px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 15px;
}

#author {
    font-family: 'Open sans', sans-serif;
    text-align: center;
    color:rgb(42, 42, 42);
}

#main {
    border-top: 1px solid rgb(42, 42, 42);
    padding: 0px 200px 10px 200px;
    text-align:center;
    width: 500px;
    margin: 0 auto;
}

h2 {
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}



.share {
    border-top: 1px solid crimson;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url('file:///C:/Users/PICHAU/Downloads/iso-republic-abstract-liquid-swirl-19-free-stock-photo.jpg');
    background-size: cover;
}

a {
    text-transform: uppercase;
    background-color: crimson;
    border-radius: 15px;
    border: 5px solid crimson;
    color: white;
    display: inline-block;
    text-decoration: none;
    margin: 5px;
    padding: 0px 10px;
}

a:hover {
    border: 5px solid white;
    color:crimson;
    background-color:white;
}